/*
    board.html 스타일시트 화면(board.css)
    작성날짜 : 2022-08-26
    작성자 : 김하나
*/
* {
    margin:0px;
    padding:0px;
}
.wrap {
    width:1200px;
    margin:0px auto;
}
/* 로고정렬 */
.hd {
    width:1200px;
	height:100px;
	top:0px;
}
.logo > a > img {
    width:300px;
    height:100px;
    float:left;
    left:123px;
}
/* 메뉴바 */
ul {list-style-type:none;}
a {text-decoration:none;}
.menu {
    position:relative;
    float:left;
	left:290px;
    top:-35px;
}
.menu > li {
	position:relative;
	float:left;
	width:160px;
	text-align:center;
}
.menu > li > a {
    font-size:20px;
	color:black;
	font-weight:bold;
}
.menu > li > a:after {
    display:block;
    width:100px;
    content: '';
    border-bottom: solid 4px #57D2C4;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    margin-left:30px;
 }
 .menu > li > a:hover:after {
    transform: scaleX(1);
 }
 /* 자유게시판 */
.freeboard > p {
    position:relative;
    font-size:30px;
    left:-750px;
    top:20px;
}
.form-group {
    position:relative;
    top:40px;
    left:30px;
}
.form-select {
    float:left;
}
.form-text {
    float:left;
}
.form-select select {
    width:170px;
    height:40px;
    border:1px solid #D9D9D9;
    font-size:17px;
    border-radius:5px;
    padding-left:10px;
}
.form-text input {
    width:310px;
    height:40px;
    border:1px solid #D9D9D9;
    font-size:17px;
    position: absolute;
    margin-left:10px;
    border-radius:5px;
    padding-left:10px;
}
.btn-regular {
    width:70px;
    height:40px;
    position:relative;
    left:335px;
    font-size:17px;
    color:#FFFFFF;
    background-color:#666;
    border-radius:5px;
    border:0px;
}
.board-write a {
    position:relative;
    color:black;
    left:1060px;
    top:15px
}
.board {
    position:absolute;
    margin-top:30px;
    margin-left:30px;
}
.table {
    border-collapse: collapse;
}
table td {
    width:120px;
    padding:10px;
  }
  /* vertical-align:top; 글씨 위로 정렬,수직 */
.td-title {
    width:550px;
}
thead td {
    padding:10px;
    font-weight:bold;
    border-top:none;
    border-bottom:2px solid black;
    height:30px;
}
tbody td {
    border-collapse:separate;
    border-spacing:1px;
    text-align:left;
    line-height:1.5;
    border-bottom:1px solid #ccc;
    height:30px;
}
/* 페이징처리 */
.paging {
    display:flex;
    justify-content: center;
    margin-top:40px;
}
.paging .prev {
    transform:rotate(-180deg);
    background:#ffffff url(../image/ico-next.png) no-repeat center center;
    background-size:28px 28px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.num {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size:19px;
    margin:0px 10px;
}
.num:active {
    color:#FFFFFF;
    border-radius:50%;
    background-color:#57D2C4;
}
.paging .next {
    margin-right:20px;
    background:#FFFFFF url(../image/ico-next.png) no-repeat center center;
    background-size:28px 28px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

 /* footer */
.ft {
    width:1200px;
	height:140px;
    background-color:#F8F2C2;
    position: absolute;  
    top:890px;
 }
 .nav2 li {
	position:relative;
	float:left;
	top:25px;
    left:230px;
    margin-left:1%;
}
.nav2 li > a {
    color:black;
}
.p {
    position:relative;
    text-align:center;
    top:30px;
}